<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Login">
	<test name="login">
		 <parameter name="username" value="standard_user"/>
 		<parameter name="password" value="secret_sauce"/>
		<classes>
			<class name="demo.kc.selenium_demo_sauce.LoginFunctionality">
			<methods>
				<include name="ValidLogin()"></include>
				<include name="InvalidLogin()"></include>
				<include name="LogOut()"></include>
				<include name="ValidLogin()"></include>
			</methods>
			</class>	
		</classes>
	</test>

<suite name="Cart">
	<test name="CartFunctionality">
		<classes>
			<class name="demo.kc.selenium_demo_sauce.CartFunctionality">
			<methods>
				<include name="AddAllProducts"></include>
				
			</methods>
			</class>	
		</classes>
	</test>
</suite>